.re {
    color: beige;
    padding-bottom: 500px;
}

.em {
    max-width: 500px;
    margin-left: 500px;
}

.pa {
    max-width: 500px;
    margin-left: 500px;
}

.ph {
    max-width: 500px;
    margin-left: 500px;
}

.na {
    max-width: 500px;
    margin-left: 500px;
}
